@import "./foundation/colours";

* {
  margin: 0;
  padding: 0;
}

table {
  margin: 50px auto;
}

td {
  height: 100px;
  width: 100px;
  background-color: $darkSquare;
}

.no-piece {
  background-color: $lightSquare;
}

.piece {
  height: 30px;
  width: 30px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 50px;
  // cursor: pointer;
}

.light {
  background-color: $lightPiece;
}

.dark {
  background-color: $darkPiece;
}

.drag {
  background-color: red;
  cursor: pointer;
  // z-index: 1;
}

.dragging {
  opacity: 0.9;
}

#one {
  background-color: red;
}
#nine {
  background-color: red;
}
