@import "./foundation/colours";

* {
  margin: 0;
  padding: 0;
}

table {
  margin: 50px auto;
}

td {
  height: 100px;
  width: 100px;
  padding: auto;
  background-color: $darkSquare;
  align-content: center;
}

.no-piece {
  background-color: $lightSquare;
}

.piece {
  height: 30px;
  width: 30px;
  padding: 20px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 50px;
  cursor: grab;
}

.light {
  background-color: $lightPiece;
}

.dark {
  background-color: $darkPiece;
}

.dragging {
  opacity: 0.5;
  cursor: grab;
}
